/* colores */
$DarkGrey: #a1a3b3;
$Grey: #d0cece;
$LightGrey: #ebebeb;

$DarkBlue: #00175A; 
$LightBlue: #006FCF;
$LightBlueOpacity: #88B9DB;

$Black: #303030;
$HoverMenu: #444;

$StatusGreen: #47aa42;
$StatusBlue: #4a90e2;
$StatusRed: #c53131;
$StatusOrange: #ed6811;
$white : #FFFFFF;
$button: #0070D0;
/* stepper */
$StepperBackground: #f3f3f4;

$BlueText: #2EA3FF;