<div class="row mt-4">
  <div class="col-12">
    <h2 class="mb-1">Margarita</h2>
    <p class="m-0">Estás continuando el proceso para obtener</p>
    <p class="m-0 font-weight-bold">The Platinum Credit Card American Express &reg;</p>
  </div>
</div>
<div class="row mt-3">
    <div class="col-8">
        <p class="m-0 font-weight-lighter data-step">Identificación</p>
    </div>
    <div class="col-4">
        <p class="m-0 text-right font-weight-lighter data-step">1/2</p>
    </div>
</div>
<div class="row mt-1">
  <div class="col-12 p-0">
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
  </div>
</div>
