<div class="row mt-4">
  <div class="col-12">
    <h3 class="font-weight-bold mb-1">Aviso de privacidad</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>Los datos personales que nos proporcione serán tratados por:</p>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis sit amet augue
      at vestibulum. Morbi rutrum auctor congue. Nullam sed gravida nisl. Donec scelerisque aliquet ante, ut imperdiet
      erat rhoncus vitae. Mauris sed malesuada metus. Donec consequat purus dolor, eget tincidunt leo pretium non.
      Aenean volutpat elit ac tortor consequat laoreet. Donec tristique egestas porta. Nullam rutrum elit et lorem
      faucibus hendrerit. <br> <br> Sed leo nisl, euismod id convallis nec, </p>
    <p>Aviso de Privacidad Integral visite: <a href="">https://www.americanexpress.com/ar/</a></p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-sm-12 text-center">
    <button class="btn-block text-light" mat-flat-button color="primary" (click)="continue()">Aceptar y continuar</button>
  </div>
</div>
