<div class="row mt-3">
  <div class="col-12">
    <p>Realizá los siguientes pasos para aceptar y firmar los Términos y Condiciones</p>
  </div>
</div>
<div class="row align-items-center mt-3">
    <div class="col-5 text-right">
        <img src="assets/images/TERMINOS@3x.svg" alt="">
    </div>
    <div class="col-7">
        <p>Términos y Condiciones</p>
    </div>
</div>
<div class="row align-items-center mt-5">
    <div class="col-5 text-right">
        <img src="assets/images/FIRMA@3x.svg" alt="">
    </div>
    <div class="col-7">
        <p>Firma digital</p>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-12 text-center">
      <button class="btn-block text-light" mat-flat-button color="primary">Continuar</button>
    </div>
  </div>
