<div class="row mt-3">
  <div class="col-12">
    <p>Capturá el frente y reverso de tu DNI para completar el proceso</p>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <div class="label-dni pl-2">
      <p class="text-left m-0">Frente</p>
    </div>
    <img class="img-dni" src="assets/images/FRENTE@3x.svg" alt="">
  </div>
</div>
<div class="row mt-3">
  <div class="col-12 text-center">
    <div class="label-dni pl-2">
      <p class="text-left m-0">Reverso</p>
    </div>
    <img class="img-dni" src="assets/images/REVERSOL@3x.svg" alt="">
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-12 text-center">
    <button class="btn-block text-light" mat-flat-button color="primary" (click)="initScann()">Capturar DNI</button>
  </div>
</div>
